.footer{
    padding:20px 20px;
border-top: 1px solid var(--border-color);
display:flex;
justify-content:space-between;
background:var(--background-gradient-dark);
}
.footerTitle{
    font-size:16px;
    color:#fff;
    font-weight:300;
    cursor:pointer;
}
.footerLinks{
    display:flex;
    justify-content:space-between;
}
.footerLinks .footerTitle{
    margin:0 10px;
}