

.footer{
    padding:20px 20px;
border-top: 1px solid var(--border-color);
display:flex;
justify-content:space-between;
background:var(--background-gradient-dark);
}
.footerTitle{
    font-size:16px;
    color:#fff;
    font-weight:300;
    cursor:pointer;
}
.footerLinks{
    display:flex;
    justify-content:space-between;
}
.footerLinks .footerTitle{
    margin:0 20px;
    position:relative;

}
.footerTitle::after{
    content:'';
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translate(-50%,-50%);
    height:2px;
    width:0px;
    background:var(--text-light-gray);
    transition:0.3s all ease;
}

.footerTitle:hover::after{
    width:100%;
}

.footerTop{
    display:flex;
    background:#fffcfc
}
.footerSection{
    border-right: 0;
    padding: 1.9rem 1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.info{
    color:#c87575;
    margin:1.5rem 0;
}
.footerSectionTitle{
    margin-top:15px;
    font-size:1.2rem;
}